.theFooter {
	position: fixed;
	background-color: white;
	height: 60px;
	width: 100%;
	bottom:0;
	border-top: 1px solid #CCCCCC;
}
.foo-div-one{
	display:flex;
	align-items:center;
	justify-content:center;
	height:100%;
}
.foo-p{
	text-align:center;
}
